/* RESET CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*WEB PAGE CSS */
@font-face{
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
    font-family: "Poppins1";
    src: url(../fonts/Poppins-Regular.ttf);
}
:root{
    --menu-height:64px; /* according padding and size of menu-icon */
}

*{padding:0;margin:0;}
html,body{
    overflow-x: hidden;
    font-family: "OpenSans";
    scroll-behavior: smooth;
}
body.block-scroll{
    overflow: hidden;
}
/* HEADER */
 .menu{
    width: 100%;
    background-color: blue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: var(--menu-height); 
}
 .menu-button-open{
    position: absolute;
    top: 0;
    right: 1em;
}
 .menu-button-close{
    position: absolute;
    top: 0;
    right: 1em;
}

.menu-icon{
    z-index: 4 !important;
    font-size: 2em;
    color: #fff;
    padding: .5em;
}
 .menu-icon:hover{
    cursor: pointer;  
}
 .main-nav{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 3;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
 .main-nav.hide{
    left: 110%;
    transition: 0.25s;
    transition-timing-function: ease-out;
}
 .main-nav.show{
    left: 0;
    transition: 0.25s;
    transition-timing-function: ease-out;
}

 .main-nav ul{
    background-color: #000;
}
 .main-nav ul li{
    list-style: none;
}
 .main-nav ul li a{
    font-family: "Poppins",sans-serif;
    position: relative;
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    font-size: 3em;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: .4rem;
    line-height: 1.5em;
}
 .main-nav ul li a:hover{
    color: #fff;
    transition: .5s;
}
 .main-nav ul li a:before, .main-nav ul li a:after{
    width: 100%;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}
 .main-nav ul li a:hover:before{
    color: #f00;
    z-index: 2;
    transform: translate(.1em,-.1em);
}
 .main-nav ul li a:hover:after{
    color: #0ff;
    z-index: 3;
    transform: translate(.2em,-.2em);
}

/* END HEADER */

/*TABLET*/
@media (min-width: 768px) {
   
}

/*PC*/
@media (min-width: 1200px) {
   
}